.login-form {
  padding: 400px 30px 30px 30px;
}

.login-form Image {
  width: 80%;
  margin-bottom: 50px;
}

.login-form TextField {
  background: #fafafa;
  padding: 30px;
  margin-bottom: 25px;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 10px;
  color: #555;
  font-size: 14px;
}

.login-form Button {
  background: #fafafa;
  border-width: 2px;
  border-color: #4183D7;
  border-radius: 10px;
  color: #4183D7;
  margin-bottom: 25px;
}

.login-form .registration-info {
  font-size: 12px;
  text-align: center; 
}